

.navbar {
  background-color: black;
  width: 100%;
  top: 0;
  left:0;
  position:fixed;
  height: 56px;
}
.nav {
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}

.spacer {
  flex: 1;
}

.links ul{
  list-style: none;
  display:flex;
  
}
.links li {
  padding: 0 0.5rem;
}
.links a {
  text-decoration: none;
  color: white;
  flex:1;
}

.logo a{
  color:white;
  text-decoration: none;
  font-size: 1.5rem;

}